/* style.css */

/* Estilo para remover o padding e a list-style */
ul.list-unstyled {
    padding-left: 0;
    list-style-type: none;
  }
  
  /* Estilo para as imagens */
  ul.list-unstyled img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  
  /* Estilo para o span (nome do time) */
  ul.list-unstyled span {
    display: block;
    margin-top: 5px; /* Espaçamento entre a imagem e o nome */
  }
/* Aumenta o tamanho das imagens dos times */
ul.list-unstyled img {
    width: 80px; /* largura da imagem */
    height: 80px; /* altura da imagem */
    object-fit: contain; /* mantém a proporção da imagem */
  }
    